<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <span style="margin-right:5px">
        <i class="{{cssIconClass(alert)}}"></i>
    </span>

    <a class="close" (click)="removeAlert(alert)">&times;</a>
    <div [innerHTML]="alert.message" style="margin-top:0.2%"></div>
</div>