<div>
  <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="#" class="navbar-brand">Easy Roster CRM</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="customer/list" class="nav-link">Customer List</a>
        </li>
        <li class="nav-item">
          <a routerLink="customer/add" class="nav-link">New Customer</a>
        </li>
      </div>
    </div>
  </nav>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>