﻿<h1 *ngIf="isAddMode">Add Customer</h1>
<h1 *ngIf="!isAddMode">Edit Customer</h1>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-4">
            <select class="form-select" formControlName="type"
                [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['type'].errors }">
                <option value="0" selected disabled>Choose Type</option>
                <option value="1">Personal</option>
                <option value="2">Business</option>
                <option value="3">Corporate</option>
                <option value="4">NPO</option>
                <option value="5">Medical</option>
            </select>
            <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                <div *ngIf="f['type'].errors['required']">Choose a Type!</div>
                <div *ngIf="f['type'].errors['min']">Choose a Type!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-4">
            <input type="text" minlength="3" maxlength="50" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['firstName'].errors }" />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['firstName'].errors['required']">First Name is required!</div>
                <div *ngIf="submitted && f['firstName'].errors['minLength']">First Name is too short!</div>
                <div *ngIf="submitted && f['firstName'].errors['maxLength']">First Name is too long!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Surname</label>
        <div class="col-sm-4">
            <input type="text" minlength="3" maxlength="50" formControlName="surname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['surname'].errors }" />
            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['surname'].errors['required']">Surname is required!</div>
                <div *ngIf="submitted && f['surname'].errors['minLength']">Surname Name is too short!</div>
                <div *ngIf="submitted && f['surname'].errors['maxLength']">Surname Name is too long!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input type="text" minlength="3" maxlength="50" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['email'].errors['required']">Email is required!</div>
                <div *ngIf="submitted && f['email'].errors['minLength']">Email Name is too short!</div>
                <div *ngIf="submitted && f['email'].errors['maxLength']">Email Name is too long!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Cellphone</label>
        <div class="col-sm-4">
            <input type="text" minlength="10" maxlength="13" formControlName="cellphone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['cellphone'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['cellphone'].errors }" />
            <div *ngIf="submitted && f['cellphone'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['cellphone'].errors['required']">Cellphone is required!</div>
                <div *ngIf="submitted && f['cellphone'].errors['minLength']">Cellphone Name is too short!</div>
                <div *ngIf="submitted && f['cellphone'].errors['maxLength']">Cellphone Name is too long!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Invoice Total</label>
        <div class="col-sm-4">
            <input type="text" formControlName="invoiceTotal" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['invoiceTotal'].errors }"
                [ngClass]="{ 'is-valid': submitted && !f['invoiceTotal'].errors }" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/customer/list" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>