﻿<div class="container">
    <div class="row d-flex">
        <div class="col-10">
            <h5>Customer Listing</h5>
        </div>
        <div class="col-4 justify-content-end">
            <a routerLink="../add" class="btn btn-sm btn-success">Create New Customer</a>
        </div>
    </div>
</div>

<hr/>

<table id="dtCustomers" class="table table-striped table-responsive hover">
    <thead>
        <tr>
            <th style="width: 20%" class="center">Firstname</th>
            <th style="width: 20%" class="center">Surname</th>
            <th style="width: 20%">Email</th>
            <th style="width: 15%">Cellphone</th>
            <th style="width: 10%">Invoice Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of customers">
            <td>{{c.firstName}}</td>
            <td>{{c.surname}}</td>
            <td>{{c.email}}</td>
            <td>{{c.cellphone}}</td>
            <td>{{c.invoiceTotal | currency}}</td>
            <td nowrap><a class="btn btn-sm btn-secondary" routerLink="/customer/edit/{{c.id}}">Edit</a>
            <button class="btn btn-sm btn-danger" (click)="deleteCustomer(c.id)">Remove</button></td>
        </tr>
    </tbody>
</table>

